<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="row">
                <div class="first-box">
                    <div class="intro-lead-in"> Gagnez plus d'une manière inattendue ! </div>
                </div>
            </div>
            
            <div class="row">
                <div class="second-box">
                    <div class="intro-heading "> Réduisez Considérablement votre budget Santé </div>
                </div>
            </div>
            <!--<a class="btn btn-danger btn-xl text-uppercase js-scroll-trigger active" href="#services">plus</a> -->
        </div>
    </div>
</header>

<!-- Services -->
<div class="container">

        <section id="about-us">
    <div class="">
        <div class="row text-justify">
            <div class="row">
                <br>
                <div class=" text-center">
                    <br>
                    <h3 class=" font-weight-bold"> Qui Sommes-nous ? </h3>
                </div>
                <div style="font-size: 18px">

                    <p>
                        Une équipe d’hommes et de femmes ayant été personnellement éprouvés par des problèmes de santé et désireux d’aider. Ces tribulations ont fait de nous des apporteurs de solution pour ceux qui sont confrontés
                        aux mêmes difficultés, d’où la naissance de SANTASSIS Afrique, une entreprise créée pour offrir aux malades et à leurs familles une assistance sanitaire non médicale qui se décline en quatre services :
                    </p>
                    <br>
                    <br>


                    <ul style="font-size: 20px">
                        <li>
                            <span class=" font-weight-bold"> SANTASSIS TROC :</span> service de recyclage d’articles sanitaires. Notre plateforme offre à nos clients l’opportunité d’aider et/ou de gagner de l’argent inattendu sur des articles y exposés
                            qui, autrement seraient destinés à attendre leurs dates de péremption dans un tiroir ou un placard, pour ensuite rejoindre les poubelles. Grâce à notre site, ces articles peuvent être offerts, échangés ou vendus à des prix
                            défiants toutes concurrences, c’est-à-dire la moitié de leur valeur réelle.
                        </li>
                        <br>
                        <li>
                            <span class=" font-weight-bold">SANTASSIS NEWS :</span> service d’informations sanitaires. Ce service publie des informations et diffuse les conseils des professionnels de la santé, fait connaître les prouesses réalisées dans
                            les formations sanitaires.
                        </li>
                        <br>
                        <li>
                            <span class=" font-weight-bold">SANTASSIS KEEPER :</span> service de garde-malades. Ce service vient en soutien aux personnes non-autonomes ou ayant besoin d’une assistance constante dans les centres de santé. Il fournit des
                            plats cuisinés conçus par des nutritionnistes et adaptés au régime du malade.
                        </li>
                        <br>
                        <li>
                            <span class=" font-weight-bold"> SANTASSIS EXPRESS :</span> 
                            service de coursiers. Nos agents sont disponibles pour toutes sortes de courses hors des centres de santé : recherche, achat et livraison de médicaments ou tous produits
                            sanitaires, repas, appels, interventions etc.
                        </li>
                    </ul>
                    <br>
                    <div>
                        SANTASSIS AFRIQUE ne présente que des articles de seconde main, mêmes si certains n’ont jamais été utilisés ?et ne donne pas de garantie. 
                        Par conséquent l’entreprise n’accorde pas de garantie sur les produits présentés par ses utilisateurs.
                        Cependant, les articles sensibles font l’objet d’un contrôle qualité vérifiable et accessible aux abonnés. Les informations ayant un caractère de données personnelles
                        protégées par la loi sont sécurisées. 
                        SANTASSIS AFRIQUE se conforme à la législation du commerce et est membre de la Chambre de commerce et d’industrie du Bénin (CCIB).
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

</div>

<!-- Portfolio Grid -->



<!-- Clients -->
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img class="img-fluid d-block mx-auto" src="assets/img/logos/envato.jpg" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img class="img-fluid d-block mx-auto" src="assets/img/logos/designmodo.jpg" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img class="img-fluid d-block mx-auto" src="assets/img/logos/themeforest.jpg" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img class="img-fluid d-block mx-auto" src="assets/img/logos/creative-market.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>




