





<!-- Modal reset password-->
<div class="modal fade" id="resetPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mot de Passe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" [disabled]="isSaving">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-center">
                    <em style="color:red">{{error}}</em>
                </p>
                <form name="editForm" role="form" novalidate (ngSubmit)="resetPassword()" #editForm="ngForm">
                     <div class="form-group">
                        <label for="username">Adresse Mail:</label>
                        <input type="email" class="form-control" id="email" name="username" [(ngModel)]="model.email" #username="ngModel" required>
                        <small *ngIf="username.touched && username.invalid" class="help-block text-danger">Email requis</small>
                    </div>

                     <div class="form-group" [ngClass]="{ 'has-error': !password.valid }">
                        <label for="password">Mot de passe</label>
                        <input type="password" minlength="6" class="form-control" validateEqual="password_confirmation" reverse="true" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                        <small *ngIf="password.touched && password.invalid" class="help-block text-danger">Password requis</small>
                    </div>

                    <div class="form-group" [ngClass]="{ 'has-error': !password_confirmation.valid }">
                        <label for="password_confirmation">Confirmez Mot de passe</label>
                        <input type="password" minlength="6" class="form-control" name="password_confirmation" validateEqual="password" [(ngModel)]="model.password_confirmation" #password_confirmation="ngModel" required />
                        <small *ngIf="password_confirmation.touched && password_confirmation.invalid" class="help-block text-danger">Les mots de passes ne correspondent pas</small>
                    </div>
                    
                    <div class="form-group">
                        <i *ngIf="isSaving" class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                        <button type="submit" class="btn btn-primary snackbar-toggler" style="float: right" [disabled]="editForm.form.invalid || isSaving">{{isSaving?'....':''}}
                                    Valiider
                                </button>
                    </div>

                    

                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="info-token" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel"> ALERT INFOS !!</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="infoToken">
                    <div class="container">
                        <div class="row justify-content-md-center">
                            <div class="text-danger font-weight-bold m-4">
                            {{message}}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-danger float-right" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                            <span aria-hidden="true"> Fermer </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>