span.cursor-pointer {
    cursor: pointer;
    background-color: #fff;
    padding-right: 10px;
    padding-left: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    color: #fff;
    margin-right: 20px;
}