<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">CARMES</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">

                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                </li>
                <!--  <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">A propos</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#team">Team</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
                <li class="nav-item" *ngIf="principal.logged">
                    <a class="nav-link">Votre cpte Carmes <br> {{principal.cpteCarmes}}</a>
                </li>
            </ul>
            <button type="button" class="btn btn-light nav-item btn-item active" data-toggle="modal" data-target="#connexion" *ngIf="!principal.logged">Se connecter</button>
            <button type="button" class="btn btn-light nav-item btn-item active" data-toggle="modal" data-target="#creation" *ngIf="!principal.logged">Ouvrir un compte</button>
        </div>
    </div>
</nav>
<!-- Modal -->
<div class="modal fade" id="connexion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Connexion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" [disabled]="isSaving">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-center">
                    <em style="color:red">{{error}}</em>
                </p>
                <form name="editForm" role="form" novalidate (ngSubmit)="login()" #editForm="ngForm">
                    <div class="form-group">
                        <label for="carmes">Compte CARMES :</label>
                        <input type="text" class="form-control" id="carmes" name="cpteCarmes" [(ngModel)]="model.cpteCarmes" required>
                    </div>
                    <div class="form-group">
                        <label for="code_pin">Code PIN:</label>
                        <input type="password" class="form-control" id="code_pin" name="pin" [(ngModel)]="model.pin" required>
                    </div>
                    <button type="submit" class="btn btn-primary" style="float: right" [disabled]="editForm.form.invalid || isSaving">{{isSaving?'....':''}} Connecter</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="creation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ouverture d'un Compte</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" [disabled]="isSaving">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-center">
                    <em style="color:red">{{errorSignUp}}</em>
                </p>
                <form name="signUpForm" role="form" novalidate (ngSubmit)="signUp()" #signUpForm="ngForm">
                    <div class="form-group">
                        <label for="nom">Nom et Prenom :</label>
                        <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="model.name" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">N° Portable:</label>
                        <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="model.phone" required>
                    </div>
                    <div class="form-group">
                        <label for="cin">N° CIN</label>
                        <input type="text" class="form-control" id="cin" name="numCNI" [(ngModel)]="model.numCNI" required>
                    </div>
                    <button type="submit" class="btn btn-primary" style="float: right" [disabled]="signUpForm.form.invalid || isSaving">{{isSaving?'....':''}} Valider</button>
                </form>
            </div>
        </div>
    </div>
</div>