<div class=" container-fluid ">
    <div class="row">
        <div class="col-md-8 offset-2">
            <div class="main">
                <span *ngIf="loading" class="row align-items-center">
                            <div class="col">
                                <!-- Chargement en cours... -->
                                <div class="progress-circular progress-circular-primary">
                                    <div class="progress-circular-wrapper">
                                        <div class="progress-circular-inner">
                                            <div class="progress-circular-center">
                                                <div class="progress-circular-spinner"></div>
                                            </div>
                                            <div class="progress-circular-gap"></div>
                                            <div class="progress-circular-center">
                                                <div class="progress-circular-spinner"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </span>


                <div *ngIf="testifies.length > 0">
                    <div class="table-responsive">
                        <table class="table">

                            <div class="card" *ngFor="let item of testifies">
                                <div class="card-header text-black font-weight-bold text-capitalize">
                                    Par : {{item.user.name}}
                                </div>
                                <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                        <h6 class="text-black ">{{item.description}}</h6>
                                        <footer class="blockquote-footer">{{item.user.firstname}} {{item.user.lastname}}
                                            <small title="Source Title">{{item.created_at | date}}</small>
                                        </footer>
                                    </blockquote>
                                </div>
                            </div>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>