<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">CARMES ADMINISTRATION</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">User</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="list-group">
                <div href="#" class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Main Menu</h5>
                    </div>
                    <p class="mb-1">Sub Menu</p>
                    <p class="mb-1">Sub Menu</p>
                    <p class="mb-1">Sub Menu</p>
                </div>
                <div href="#" class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Main Menu</h5>
                    </div>
                    <p class="mb-1">Sub Menu</p>
                    <p class="mb-1">Sub Menu</p>
                    <p class="mb-1">Sub Menu</p>
                </div>
                <div href="#" class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Main Menu</h5>
                    </div>
                    <p class="mb-1">Sub Menu</p>
                    <p class="mb-1">Sub Menu</p>
                    <p class="mb-1">Sub Menu</p>
                </div>
            </div>
        </div>
        <div class="col-sm-9">content</div>
    </div>
</div>