<div class=" container-fluid ">
    <div class="row">
        <div class="col-md-9 offset-2">
            <div class="main">
                <br>
                <div class="col-auto font-weight-bold ">
                    <h3 class="" style="font-family: 'Courier New', Courier, monospace"> LES NEWS SANTE - MEDECINE </h3>
                </div>
                <br>
                <span *ngIf="loading" class="row align-items-center">
                            <div class="col">
                                <!-- Chargement en cours... -->
                                <div class="progress-circular progress-circular-primary">
                                    <div class="progress-circular-wrapper">
                                        <div class="progress-circular-inner">
                                            <div class="progress-circular-center">
                                                <div class="progress-circular-spinner"></div>
                                            </div>
                                            <div class="progress-circular-gap"></div>
                                            <div class="progress-circular-center">
                                                <div class="progress-circular-spinner"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </span>
                <!--<div class="row float-right" [routerLink]="['/layout/user-home/news/add']">
                    <button class="btn btn-float btn my-1 float-right" type="button"><i
                                    class="fa fa-plus"></i>
                                </button>
                </div>-->

                <div *ngIf="news.length > 0">
                    <div class="row">
                        <div class="card mb-2" style="width: 18rem;" *ngFor="let item of news; let i=index">
                            <img class="card-img-top" *ngIf="!item.image_c" src="/assets/img/news.png" style="width:100%;height:60%" alt="Card image cap">
                            <img class="card-img-top" *ngIf="item.image_c" [src]="item.image_cover" style="width:100%;height:60%" alt="Card image cap">
                            <div class="card-body b-6 pb-6" [routerLink]="['/layout/news',item.id]" style="overflow-y:auto; cursor:pointer">
                                <h6 class="card-title text-capitalized">{{item.title}} </h6>
                                <p class="card-text">{{item.resume}}</p>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>