
<!-- Header -->

<div class="container">
    <div class="main">
      <div *ngIf="loading">
          Chargement en cours...
      </div>
       
      <div *ngIf="products.length > 0">
          <div *ngFor="let item of products">
              <!-- <div>{{item}}</div> -->
          </div>

          <div class="card w-75" *ngFor="let item of products">
              <div class="card-body">
                <h5 class="card-title text-dark">{{item.name}}</h5>
                <div class="row card-text">
                    <div class="col-md-3">
                      image
                      <img src="src/assets/img/portfolio/O2-thumbnail.jpg" alt="">
                    </div>
                    <div class="col-md-6">
                        With supporting text below as a natural lead-in to additional content.
                    </div>
                    <div class="col-md-3 ">
                      <div class="float-right text-primary">
                          {{item.price}} fcfa
                      </div>
                    </div>
                </div>
                <button href="#" class="btn btn-sm btn-outline-info float-right">Acheter</button>
                <button href="#" class="btn btn-sm btn-outline-dark float-right"  style="margin-right:15px">Voir</button>
              </div>
          </div>
      </div> 
    </div>
</div>

